
<div class="container pnl" style="background-image: url(http://www.rompicapi.com/wp-content/uploads/2017/10/pallone-da-calcio.png); background-repeat: no-repeat; background-position: 124% -384%;" align= 'center'>
  <br>
  <h1>  <br>
    <br>
Per proseguire devi loggarti</h1>
  <br>
  <%= link_to 'Login', login_url, class: 'btn btn-login', style: 'border-width: 1px; border-color: black; color: white;' %>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <h3>Non possiedi un account?</h3>
  <br>
  <%= link_to 'Sign Up', new_user_path, class: 'btn btn-register', style: 'border-width: 1px; border-color: black; color: white;' %>
  <br>
  <br>
  <p class="mt-5 mb-3 text-muted text-center"><b style="color: white;">© 2017-2018</b></p>
  <hr>
</div>
<hr>
