
<div class='container pnl', align= 'center'>
  <br>
  <h1>  <br>
    <br>
Per proseguire devi loggarti :D</h1>
  <br>
  <%= link_to 'Login', login_url, class: 'btn btn-default', style: 'border-width: 1px; border-color: black;' %>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <h3>Non possiedi un account?</h3>
  <br>
  <%= link_to 'Sign Up', new_user_path, class: 'btn btn-default', style: 'border-width: 1px; border-color: black;' %>
  <br>
  <br>
  <p class="mt-5 mb-3 text-muted text-center"><b style="color: white;">© 2017-2018</b></p>
  <hr>
</div>
<hr>
