<div class="container pnl" style="background-image: url(http://www.rompicapi.com/wp-content/uploads/2017/10/pallone-da-calcio.png); background-repeat: no-repeat; background-position: 124% -700%;">
  <div class="container">
  <br>
    <h1 style="font-size: 30px"><b><br><br>Questo è WantedMatch!</b></h1>
  <hr>
  <p><h3>Ciao, impaziente di giocare a calcio/calcetto/calciotto con i tuoi amici?</h3></p>
  <hr>
  <p><h4>Tramite questa applicazione potrai:</h4></p>
   <p><h4>→ Formare Squadre</h4></p>
   <p><h4>→ Creare Annunci per giocare Partite contro avversari sempre diversi</h4></p>
   <p><h4>→ Navigare attraverso i vari Annunci e scegliere tra le Partite che si svolgono vicino casa tua</h4></p>

   <hr>

  <h3>Sfida il mondo e mostra le tue abilità!</h3>

  <hr>

  <div  align="center">
    <small> Buon divertimento dal team di WantedMatch </small>
    <br><br>
  </div>
</div>
</div>
