// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-createM{
  border: none;
  outline: none;
  height: 40px;
  background: orange;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}


.btn-createM:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.btn-choose{
  border: none;
  outline: none;
  height: 40px;
  background: green;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}


.btn-choose:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
